<h2> <%= @play.title %></h2>
<h3> <%= @play.description %></h3>
<p> <%= @play.director%></p>

<div class="links btn-group">
<% if user_signedin? %>
  <% if @play.user_id == current_user.id %>
<%= link_to  "Edit", edit_play_path(@play) %>
<%= link_to  "Delete", play_path(@play), method: :delete, data:{confirm: "Are you sure?"} %>
<% end %>
<% end %>
</div>