<div class="row pt-5">
  <div class="col-md-4">
    <%= image_tag @play.image, class: "play-show" %>
  </div>

  <div class="col-md-8">
    <div class="play-info">
      <h2 class="play-title"> <%= @play.title %> </h2>
      <h3 class="play-director"> <span><em>Director: </span></em><%= @play.director %></h3>
      <h4 class="play-director"> <%= @play.category_name %> </h4>
      <h4 class="avg-rating"> Average rating </h4>
      <div class="average-review-rating" data-score=<%= @average_review %>></div>
      <span class="number-of-reviews"><em>From: </em> <%= @play.reviews.count %> reviews </span>
      <p class="play-desc"> <%= @play.description%></p>
      <div class="links btn-group">
        <% if user_signed_in? %>
        <% if @play.user_id == current_user.id %>
        <h5 class="play-edit-title"> Edit Play: </h5>
        <%= link_to  "Edit", edit_play_path(@play), class: "btn btn-custom" %>
        <%= link_to  "Delete", play_path(@play), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="row row-reviews">
  <div class="col-md-12">
    <div class="reviews">
      <h1> Reviews </h1>
      <%= render @play.reviews %>
      <div class="div-add-reviews">
        <%= link_to "Add Reviews", new_play_review_path(@play), class: "btn-custom" %>
      </div>
    </div>
  </div>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'

  });

  $('.average-review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
