<!DOCTYPE html>
<html>
  <head>
    <title>Showd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.raty.js', "data-turbolinks-track" => false %>
    <%= render 'application/favicon' %>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container container-fluid">
        <div class="d-flex align-items-center">
          <%= link_to  "SHOWD", root_path, class: "navbar-brand" %>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Genres
              </a>
              <ul class="dropdown-menu">
                <% Category.all.each do | category | %>
                  <li class="<%= 'active' if params[:category] == category.name %>">
                    <%= link_to category.name, plays_path(category: category.name), class: "link dropdown-item" %>
                  </li>
                <% end %>
              </ul>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%=link_to "Add Play", new_play_path, class: "btn btn-outline-secondary" %>
              </li>
            <% end %>
          </ul>
        </div>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to  "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to  "Sign Up", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to  "Log In", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="footer-links">
        <%= image_tag  "gmail.png", class: "gmail-img" %>
        <%= mail_to "njugunajoan35@gmail.com", "Email Me", class: "footer-email"%>
          <br > <br >
          Modified by <%= link_to "Joan Njuguna ", "https://github.com/joancodes/showd", target: "_blank", class: "github-link" %><span class="glyphicon glyphicon-heart-empty "></span>
      </div>
    </div>
  </body>
</html>
